/*Final Project - New Choices Pet Salon
	Author: Kraig Popelka
	Created: 4/24/2016
	Revised:
	
*/

	/*nav {
		width: 250px;
		float: left;
		display: block;
		margin: 0;
		padding: 0;
		margin-right: 10px;
		color: white;
		background-color: black;
		}  */
				
	h1 {
		text-align: center;
		}
				
	body {
		margin: 0;
		
}

	div.main {
		width: 75%;
		margin-left: 25%;
		padding: 1px 16px;
		height: 1000px;
	}

	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 25%;
		font-family: Verdana, Arial, sans-serif;
		font-size: 1.3em;
		color: #ffffcc;
		background-color: #333333;
		position: fixed;
		height: 100%;
		overflow: auto;
	}

	nav li a {
		display: block;
		color: #ffffcc;
		padding: 8px 0 8px 16px;
		text-decoration: none;
	}

	nav li a.active {
		background-color: #009999;
		color: #e6e6e6;
	}

	nav li a:hover:not(.active) {
		background-color: #66ffff;
		color: #001a1a;
	}
				
	
	footer {
		clear: both;
		text-align: center;
		height: 15%;
	}