/*Homepage

Written by Kraig Popelka
Created: 2/4/2016
Revised: 3/28/2016*/



/*Body*/
body{
	background-color: #003329;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
}
img.center{
		display: block;
		margin-left: auto;
		margin-right: auto
}
/*Links*/

a:link{
	color: #4d5e80;
	text-decoration: none;
}

a:visited{
	color: #4d5e80;
	text-decoration: none;
}

a:hover{
	color: #4d8073;
}

/*Heading Styles*/

h1{
	background-color: #001a00;
	color: #bfbfbf;
	font-size: 1.75em;
	letter-spacing: .15em;
	text-align: center;
	text-transform: uppercase;
	word-spacing: .25em;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	border-top: dashed #bfbfbf .1em;
}

h2{
	color: #bfbfbf;
	text-align: center;
	border-bottom: dashed #bfbfbf .1em;
}

h3{
	background-color: #001a00;
	color: #bfbfbf;
}

/*List Items*/
li{
	background-color: #1c3130;
	font-family: Elephant, serif;
	border: outset #446c4a .5em;
	padding: 8px;
	margin: 8px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	letter-spacing: .1em;
	width: 450px;
}

p.block {
		font-family: Verdana, sans-serif;
		font-weight: bold;
		font-size: 1.25em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #001a00;
		color: #4d5e80;
		border: ridge #bfbfbf .3em;
		padding: .5em;
		word-spacing: .5em;
		width: 800px;
}



