/*Tutorial 6, Case 3
Kraig Popelka
4/1/2016*/

@import url(footer.css);
			
			body{
				font-size: 1em;
				font-family: Georgia, serif;
				margin-top: 1em;
			}
			
			*{
				margin: 0;
				padding: 0;
			}
			
			#container{
				width: 960px;
				margin: 0 auto;
				border: solid 1px;
				background-color: #f3f6e9;
			}
			
			header{
				width: 960px;
			}

			#left{
				width: 290px;
				padding: 10px;
				border-right: teal solid 3px;
				float: left;
			}

			#middle{
				width: 290px;
				padding: 10px;
				border-right: teal solid 3px;
				float: left;
			}
			
			#right{
				width: 290px;
				padding: 10px;
				float: right;
			}
			
			h1{
				padding: 10px;
				color: white;
				text-align: center;
				background: url(images/blacktexture.jpg) teal repeat; 
			}
			
			h2{
				padding: 10px;
				margin-bottom: 10px;
				color: white;
				background-color: navy;
				text-align: center;
			}
			
			p{
				text-indent: 1em;
			}
			