		* {
			margin: 0;
			padding: 0;
		}

		body {
			background-color: #339966;
			color: black;
			font-size: 1.1em;
		}
			
		
		
		
		.jumbotron, .navbar-fixed-bottom {
			background-color: black;
			margin: 0;
			color: #b3b3b3;
		}