/*
	Take It Away Wireless
	Layout Style sheet
	
	Author:  Kraig Popelka
	1/28/2016
*/

/*Body*/
body{
	background-color: #e6e6fa;
	font-family: Arial, sans-serif;
	font-size: 1.2em;
}

/*Emphasis Styles*/
em{
	color: green;
	font-weight: bold;
}

/*Heading Styles*/
h3{
	color: maroon;
	font-family: Times, "Times New Roman", serif;
	font-size: 1.3em;
	text-align: right;
	text-transform: uppercase;
}

