          body {
            background-color: rgb(224, 224, 224);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }

          .item {
            width: 40%;
            padding: 10px;
            margin: 75px 25px;
            text-align: center;
            min-height: 200px;
            border: 3px solid rgb(6, 4, 121);
            border-radius: 15px;
            background-color: rgb(195, 226, 252);
            color: rgb(64, 24, 102);
          }

          #paypal-button, #paypal-button2, #paypal-button3 {
              text-align: right;
              margin-right: 25px;
          }

          img {
              float:left;
              margin: 0 20px;
              max-height: 150px;
              border: 3px solid rgb(6, 4, 121);
              border-radius: 15px;
          }

          h1,h4 {
            color: rgb(5, 48, 77);
          }

          #header {
              min-height: 200px;
              background-image: url("background.jpg");
              background-repeat: no-repeat;
          }

          #header h1 {
              background-color: rgb(230, 230, 230);
              width: 30%;
              min-height: 50px;
              margin: 5px 50px;
              padding: 25px;
              opacity: .6;
              font-size: 3.5em;
              
          }

          #nav {
              width: 100%;
              margin:0;
              background-color: rgb(138, 142, 146);
          }

          #nav li{
              list-style-type:none;
              padding: 3px 25px;
              margin: 3px 10px;
              display: inline-block;
              background-color: rgb(0, 75, 126);
              border: 1px solid rgb(58, 248, 255);
          }

          #nav li a:link,a:visited {
              color: rgb(204, 252, 225);
              text-decoration: none;
          }

          #nav li.active {
              background-color: rgb(58, 248, 255);
              border: 1px solid rgb(0, 75, 126);
          }

          #nav li.active a:link {
                color: rgb(54, 48, 56);
          }

          .confirmMessage {
            display: none;
          }

          .messageHide {
            display:none;
          }

          .messageShow {
              display:inherit;
          }