/*
	Bremtone Vinyl Records
	Layout Style sheet
	
	Author:  Kraig Popelka
	2/4/2016
*/

/*Body*/
body{
	background-color: #c0e59b;
	font-family: Verdana, sans-serif;
}

/*H1*/
h1{
	text-align: center;
}

/*H2*/
h2{
	color: navy;
}

/*H3*/
h3{
	color: navy;
	font-weight: bold;
}

/*H4*/
h4{
	color: maroon;
	font-style: italic;
	text-transform: uppercase;
}


/*Paragraph*/
p{
	line-height: 1.5em;
	text-indent: 5em;
}
