/*Tutorial 5, Case 3
Kraig Popelka
3/28/2016*/

body{
				background-image: url(images/spiralbound.jpg);
				background-repeat: repeat-y;
				background-color: gainsboro;
				font-size: 1.2em;
				font-family: Arial, sans-serif;
				margin-left: 8em;
				line-height: 1.25em;
			}

			img{
				float: right;
				margin: 0 0 10px 10px;
			}
			
			h1{
				margin-top: 0.5em;
				text-align: center;
				font-size: 3em;
				padding-bottom: 25px;
			}
			
			h2{
				background-image: url(images/grey_texture.jpg);
				text-align: center;
				color: white;
				font-size: 1.4em;
				padding: 10px;
			}
			
			h3{
				color: teal;
				font-size: 1.3em;
				text-decoration: underline overline;
				
			}
			
			footer{
				text-align: center;
				color: white;
				background-color: black;
				float: right;
				text-transform: uppercase;
				padding: 10px;
			}
			
			p.border{
				border-top: solid teal 0.4em;
				padding-top: 0.4em;
				font-weight: bold;
				font-style: italic;
				color: teal;
				margin-bottom: 0;
			}
			
			ul{
				float: left;
				list-style: none;
				padding: 0;
				margin-top: 1em;
				margin-left: 1em;
			}
			
			li{
				background-image: url(images/teal_square_bullet.jpg);
				background-repeat: no-repeat;
				padding-left: 2em;
				padding-bottom: 0.25em;
				line-height: 1.5em;
			}