/*Tutorial 6, Case 4
Kraig Popelka
4/7/2016*/

			*{
				padding: 0;
				margin: 0;
			}
	
			body{
				font-size: 1.1em;
				font-family: Arial, Helvetica, sans-serif;
				background-color: #aaa9bc;
				color: #003333;
			}
		
			#container{
				width: 900px;
				margin: 0 auto;
				background-color: #80d4ff;
			}
			
			header{
				width: 880px;
				margin: 0 0 10px 0;
				padding: 10px;
				background-color: #003333;
			}
			
			aside {
			width: 300px;
			margin-right: 20px;
			font-family: Arial, Helvetica, sans-serif;
			float: left;
			overflow: visible;
			}

			aside h3 {
			margin: 0;
			background-color: maroon;
			color: white;
			text-decoration: underline;
			}

			aside p {
			margin: 0;
			padding: 5px;
			color: white;
			background-color: maroon;
			text-align: left;
			}
			
			#main{
				width: 580px;
				margin: 0 0 10px 0;
				padding: 0 0 5px 0;
				background-color: #267326;
				color: white;
				float: right;
			}
			
			#main p {
				margin: 10px 0 10px 10px;
				text-indent: 10px;
			}
			
			#maui {
				color: #cceeff;
			}
			
			#coco {
				color: #cc9966;
			}
			
			#sun {
				color: #ffaa00;
			}
			
			footer{
				width: 880px;
				padding: 10px;
				background-color: #d9b38c;
				color: #003333;
				text-align: center;
				clear: both;
				height: 75px;
			}

			h4{
				text-decoration: underline;
			}