/* CSS Document */
/* CSS Document */
/* CSS Document */
@keyframes ani-top {
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; }
  5% {
    transform: rotate(-35deg);
    left: 100px;
    top: 0px; }
  10% {
    transform: rotate(0deg);
    left: 150px;
    top: 0px; }
  15% {
    transform: rotate(-35deg);
    left: 200px;
    top: 0px; }
  20% {
    transform: rotate(0deg);
    left: 250px;
    top: 0px; }
  25% {
    transform: rotate(-35deg);
    left: 300px;
    top: 0px; }
  30% {
    transform: rotate(0deg);
    left: 350px;
    top: 0px; }
  35% {
    transform: rotate(-35deg);
    left: 400px;
    top: 0px; }
  40% {
    transform: rotate(0deg);
    left: 450px;
    top: 0px; }
  45% {
    transform: rotate(-35deg);
    left: 500px;
    top: 0px; }
  50% {
    transform: rotate(0deg);
    left: 550px;
    top: 0px; }
  55% {
    transform: rotate(35deg);
    left: 550px;
    top: 0px; }
  60% {
    transform: rotate(0deg);
    left: 500px;
    top: 0px; }
  65% {
    transform: rotate(35deg);
    left: 450px;
    top: 0px; }
  70% {
    transform: rotate(0deg);
    left: 400px;
    top: 0px; }
  75% {
    transform: rotate(35deg);
    left: 350px;
    top: 0px; }
  80% {
    transform: rotate(0deg);
    left: 300px;
    top: 0px; }
  85% {
    transform: rotate(35deg);
    left: 250px;
    top: 0px; }
  90% {
    transform: rotate(0deg);
    left: 200px;
    top: 0px; }
  95% {
    transform: rotate(35deg);
    left: 150px;
    top: 0px; }
  100% {
    transform: rotate(0deg);
    left: 100px;
    top: 0px; } }
@keyframes ani-bottom {
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; }
  5% {
    transform: rotate(35deg);
    left: 100px;
    top: 0px; }
  10% {
    transform: rotate(0deg);
    left: 150px;
    top: 0px; }
  15% {
    transform: rotate(35deg);
    left: 200px;
    top: 0px; }
  20% {
    transform: rotate(0deg);
    left: 250px;
    top: 0px; }
  25% {
    transform: rotate(35deg);
    left: 300px;
    top: 0px; }
  30% {
    transform: rotate(0deg);
    left: 350px;
    top: 0px; }
  35% {
    transform: rotate(35deg);
    left: 400px;
    top: 0px; }
  40% {
    transform: rotate(0deg);
    left: 450px;
    top: 0px; }
  45% {
    transform: rotate(35deg);
    left: 500px;
    top: 0px; }
  50% {
    transform: rotate(0deg);
    left: 550px;
    top: 0px; }
  55% {
    transform: rotate(-35deg);
    left: 550px;
    top: 0px; }
  60% {
    transform: rotate(0deg);
    left: 500px;
    top: 0px; }
  65% {
    transform: rotate(-35deg);
    left: 450px;
    top: 0px; }
  70% {
    transform: rotate(0deg);
    left: 400px;
    top: 0px; }
  75% {
    transform: rotate(-35deg);
    left: 350px;
    top: 0px; }
  80% {
    transform: rotate(0deg);
    left: 300px;
    top: 0px; }
  85% {
    transform: rotate(-35deg);
    left: 250px;
    top: 0px; }
  90% {
    transform: rotate(0deg);
    left: 200px;
    top: 0px; }
  95% {
    transform: rotate(-35deg);
    left: 150px;
    top: 0px; }
  100% {
    transform: rotate(0deg);
    left: 100px;
    top: 0px; } }
@-moz-keyframes ani-top {
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; }
  5% {
    transform: rotate(-35deg);
    left: 100px;
    top: 0px; }
  10% {
    transform: rotate(0deg);
    left: 150px;
    top: 0px; }
  15% {
    transform: rotate(-35deg);
    left: 200px;
    top: 0px; }
  20% {
    transform: rotate(0deg);
    left: 250px;
    top: 0px; }
  25% {
    transform: rotate(-35deg);
    left: 300px;
    top: 0px; }
  30% {
    transform: rotate(0deg);
    left: 350px;
    top: 0px; }
  35% {
    transform: rotate(-35deg);
    left: 400px;
    top: 0px; }
  40% {
    transform: rotate(0deg);
    left: 450px;
    top: 0px; }
  45% {
    transform: rotate(-35deg);
    left: 500px;
    top: 0px; }
  50% {
    transform: rotate(0deg);
    left: 550px;
    top: 0px; }
  55% {
    transform: rotate(35deg);
    left: 550px;
    top: 0px; }
  60% {
    transform: rotate(0deg);
    left: 500px;
    top: 0px; }
  65% {
    transform: rotate(35deg);
    left: 450px;
    top: 0px; }
  70% {
    transform: rotate(0deg);
    left: 400px;
    top: 0px; }
  75% {
    transform: rotate(35deg);
    left: 350px;
    top: 0px; }
  80% {
    transform: rotate(0deg);
    left: 300px;
    top: 0px; }
  85% {
    transform: rotate(35deg);
    left: 250px;
    top: 0px; }
  90% {
    transform: rotate(0deg);
    left: 200px;
    top: 0px; }
  95% {
    transform: rotate(35deg);
    left: 150px;
    top: 0px; }
  100% {
    transform: rotate(0deg);
    left: 100px;
    top: 0px; } }
@-moz-keyframes ani-bottom {
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; }
  5% {
    transform: rotate(35deg);
    left: 100px;
    top: 0px; }
  10% {
    transform: rotate(0deg);
    left: 150px;
    top: 0px; }
  15% {
    transform: rotate(35deg);
    left: 200px;
    top: 0px; }
  20% {
    transform: rotate(0deg);
    left: 250px;
    top: 0px; }
  25% {
    transform: rotate(35deg);
    left: 300px;
    top: 0px; }
  30% {
    transform: rotate(0deg);
    left: 350px;
    top: 0px; }
  35% {
    transform: rotate(35deg);
    left: 400px;
    top: 0px; }
  40% {
    transform: rotate(0deg);
    left: 450px;
    top: 0px; }
  45% {
    transform: rotate(35deg);
    left: 500px;
    top: 0px; }
  50% {
    transform: rotate(0deg);
    left: 550px;
    top: 0px; }
  55% {
    transform: rotate(-35deg);
    left: 550px;
    top: 0px; }
  60% {
    transform: rotate(0deg);
    left: 500px;
    top: 0px; }
  65% {
    transform: rotate(-35deg);
    left: 450px;
    top: 0px; }
  70% {
    transform: rotate(0deg);
    left: 400px;
    top: 0px; }
  75% {
    transform: rotate(-35deg);
    left: 350px;
    top: 0px; }
  80% {
    transform: rotate(0deg);
    left: 300px;
    top: 0px; }
  85% {
    transform: rotate(-35deg);
    left: 250px;
    top: 0px; }
  90% {
    transform: rotate(0deg);
    left: 200px;
    top: 0px; }
  95% {
    transform: rotate(-35deg);
    left: 150px;
    top: 0px; }
  100% {
    transform: rotate(0deg);
    left: 100px;
    top: 0px; } }
@-webkit-keyframes ani-top {
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; }
  5% {
    transform: rotate(-35deg);
    left: 100px;
    top: 0px; }
  10% {
    transform: rotate(0deg);
    left: 150px;
    top: 0px; }
  15% {
    transform: rotate(-35deg);
    left: 200px;
    top: 0px; }
  20% {
    transform: rotate(0deg);
    left: 250px;
    top: 0px; }
  25% {
    transform: rotate(-35deg);
    left: 300px;
    top: 0px; }
  30% {
    transform: rotate(0deg);
    left: 350px;
    top: 0px; }
  35% {
    transform: rotate(-35deg);
    left: 400px;
    top: 0px; }
  40% {
    transform: rotate(0deg);
    left: 450px;
    top: 0px; }
  45% {
    transform: rotate(-35deg);
    left: 500px;
    top: 0px; }
  50% {
    transform: rotate(0deg);
    left: 550px;
    top: 0px; }
  55% {
    transform: rotate(35deg);
    left: 550px;
    top: 0px; }
  60% {
    transform: rotate(0deg);
    left: 500px;
    top: 0px; }
  65% {
    transform: rotate(35deg);
    left: 450px;
    top: 0px; }
  70% {
    transform: rotate(0deg);
    left: 400px;
    top: 0px; }
  75% {
    transform: rotate(35deg);
    left: 350px;
    top: 0px; }
  80% {
    transform: rotate(0deg);
    left: 300px;
    top: 0px; }
  85% {
    transform: rotate(35deg);
    left: 250px;
    top: 0px; }
  90% {
    transform: rotate(0deg);
    left: 200px;
    top: 0px; }
  95% {
    transform: rotate(35deg);
    left: 150px;
    top: 0px; }
  100% {
    transform: rotate(0deg);
    left: 100px;
    top: 0px; } }
@-webkit-keyframes ani-bottom {
  0% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; }
  5% {
    transform: rotate(35deg);
    left: 100px;
    top: 0px; }
  10% {
    transform: rotate(0deg);
    left: 150px;
    top: 0px; }
  15% {
    transform: rotate(35deg);
    left: 200px;
    top: 0px; }
  20% {
    transform: rotate(0deg);
    left: 250px;
    top: 0px; }
  25% {
    transform: rotate(35deg);
    left: 300px;
    top: 0px; }
  30% {
    transform: rotate(0deg);
    left: 350px;
    top: 0px; }
  35% {
    transform: rotate(35deg);
    left: 400px;
    top: 0px; }
  40% {
    transform: rotate(0deg);
    left: 450px;
    top: 0px; }
  45% {
    transform: rotate(35deg);
    left: 500px;
    top: 0px; }
  50% {
    transform: rotate(0deg);
    left: 550px;
    top: 0px; }
  55% {
    transform: rotate(-35deg);
    left: 550px;
    top: 0px; }
  60% {
    transform: rotate(0deg);
    left: 500px;
    top: 0px; }
  65% {
    transform: rotate(-35deg);
    left: 450px;
    top: 0px; }
  70% {
    transform: rotate(0deg);
    left: 400px;
    top: 0px; }
  75% {
    transform: rotate(-35deg);
    left: 350px;
    top: 0px; }
  80% {
    transform: rotate(0deg);
    left: 300px;
    top: 0px; }
  85% {
    transform: rotate(-35deg);
    left: 250px;
    top: 0px; }
  90% {
    transform: rotate(0deg);
    left: 200px;
    top: 0px; }
  95% {
    transform: rotate(-35deg);
    left: 150px;
    top: 0px; }
  100% {
    transform: rotate(0deg);
    left: 100px;
    top: 0px; } }
.pmanTop {
  position: relative;
  margin-left: 50px;
  height: 150px;
  width: 300px;
  border-radius: 200px 200px 0 0;
  background-color: yellow;
  -webkit-animation: ani-top 4s infinite linear;
  animation: ani-top 4s infinite linear; }

.pmanBottom {
  position: relative;
  margin-left: 50px;
  height: 150px;
  width: 300px;
  border-radius: 0 0 200px 200px;
  background-color: yellow;
  -webkit-animation: ani-bottom 4s infinite linear;
  animation: ani-bottom 4s infinite linear; }

	/*	
	@keyframes ani-top {
			0%  {transform: rotate(0deg); left:0px; top:0px;}
			5%	{transform: rotate(-35deg); left:100px; top:0px;}
			10% {transform: rotate(0deg); left:150px; top:0px;}
			15% {transform: rotate(-35deg); left:200px; top:0px;}
			20% {transform: rotate(0deg); left:250px; top:0px;}
			25% {transform: rotate(-35deg); left:300px; top:0px;}
			30% {transform: rotate(0deg); left:350px; top:0px;}
			35% {transform: rotate(-35deg); left:400px; top:0px;}
			40% {transform: rotate(0deg); left:450px; top:0px;}
			45% {transform: rotate(-35deg); left:500px; top:0px;}
			50% {transform: rotate(0deg); left:550px; top:0px;}
			55% {transform: rotate(35deg); left:550px; top:0px;}
			60% {transform: rotate(0deg); left:500px; top:0px;}
			65% {transform: rotate(35deg); left:450px; top:0px;}
			70% {transform: rotate(0deg); left:400px; top:0px;}
			75% {transform: rotate(35deg); left:350px; top:0px;}
			80% {transform: rotate(0deg); left:300px; top:0px;}
			85% {transform: rotate(35deg); left:250px; top:0px;}
			90% {transform: rotate(0deg); left:200px; top:0px;}
			95% {transform: rotate(35deg); left:150px; top:0px;}
			100% {transform: rotate(0deg); left:100px; top:0px;}
		}
		
		@keyframes ani-bottom {
			0%  {transform: rotate(0deg); left:0px; top:0px;}
			5%	{transform: rotate(35deg); left:100px; top:0px;}
			10% {transform: rotate(0deg); left:150px; top:0px;}
			15% {transform: rotate(35deg); left:200px; top:0px;}
			20% {transform: rotate(0deg); left:250px; top:0px;}
			25% {transform: rotate(35deg); left:300px; top:0px;}
			30% {transform: rotate(0deg); left:350px; top:0px;}
			35% {transform: rotate(35deg); left:400px; top:0px;}
			40% {transform: rotate(0deg); left:450px; top:0px;}
			45% {transform: rotate(35deg); left:500px; top:0px;}
			50% {transform: rotate(0deg); left:550px; top:0px;}
			55% {transform: rotate(-35deg); left:550px; top:0px;}
			60% {transform: rotate(0deg); left:500px; top:0px;}
			65% {transform: rotate(-35deg); left:450px; top:0px;}
			70% {transform: rotate(0deg); left:400px; top:0px;}
			75% {transform: rotate(-35deg); left:350px; top:0px;}
			80% {transform: rotate(0deg); left:300px; top:0px;}
			85% {transform: rotate(-35deg); left:250px; top:0px;}
			90% {transform: rotate(0deg); left:200px; top:0px;}
			95% {transform: rotate(-35deg); left:150px; top:0px;}
			100% {transform: rotate(0deg); left:100px; top:0px;}
		}

		@-moz-keyframes ani-top {
			0%  {transform: rotate(0deg); left:0px; top:0px;}
			5%	{transform: rotate(-35deg); left:100px; top:0px;}
			10% {transform: rotate(0deg); left:150px; top:0px;}
			15% {transform: rotate(-35deg); left:200px; top:0px;}
			20% {transform: rotate(0deg); left:250px; top:0px;}
			25% {transform: rotate(-35deg); left:300px; top:0px;}
			30% {transform: rotate(0deg); left:350px; top:0px;}
			35% {transform: rotate(-35deg); left:400px; top:0px;}
			40% {transform: rotate(0deg); left:450px; top:0px;}
			45% {transform: rotate(-35deg); left:500px; top:0px;}
			50% {transform: rotate(0deg); left:550px; top:0px;}
			55% {transform: rotate(35deg); left:550px; top:0px;}
			60% {transform: rotate(0deg); left:500px; top:0px;}
			65% {transform: rotate(35deg); left:450px; top:0px;}
			70% {transform: rotate(0deg); left:400px; top:0px;}
			75% {transform: rotate(35deg); left:350px; top:0px;}
			80% {transform: rotate(0deg); left:300px; top:0px;}
			85% {transform: rotate(35deg); left:250px; top:0px;}
			90% {transform: rotate(0deg); left:200px; top:0px;}
			95% {transform: rotate(35deg); left:150px; top:0px;}
			100% {transform: rotate(0deg); left:100px; top:0px;}
		}
		  
		
		@-moz-keyframes ani-bottom {
			0%  {transform: rotate(0deg); left:0px; top:0px;}
			5%	{transform: rotate(35deg); left:100px; top:0px;}
			10% {transform: rotate(0deg); left:150px; top:0px;}
			15% {transform: rotate(35deg); left:200px; top:0px;}
			20% {transform: rotate(0deg); left:250px; top:0px;}
			25% {transform: rotate(35deg); left:300px; top:0px;}
			30% {transform: rotate(0deg); left:350px; top:0px;}
			35% {transform: rotate(35deg); left:400px; top:0px;}
			40% {transform: rotate(0deg); left:450px; top:0px;}
			45% {transform: rotate(35deg); left:500px; top:0px;}
			50% {transform: rotate(0deg); left:550px; top:0px;}
			55% {transform: rotate(-35deg); left:550px; top:0px;}
			60% {transform: rotate(0deg); left:500px; top:0px;}
			65% {transform: rotate(-35deg); left:450px; top:0px;}
			70% {transform: rotate(0deg); left:400px; top:0px;}
			75% {transform: rotate(-35deg); left:350px; top:0px;}
			80% {transform: rotate(0deg); left:300px; top:0px;}
			85% {transform: rotate(-35deg); left:250px; top:0px;}
			90% {transform: rotate(0deg); left:200px; top:0px;}
			95% {transform: rotate(-35deg); left:150px; top:0px;}
			100% {transform: rotate(0deg); left:100px; top:0px;}	
		}

		@-webkit-keyframes ani-top {
			0%  {transform: rotate(0deg); left:0px; top:0px;}
			5%	{transform: rotate(-35deg); left:100px; top:0px;}
			10% {transform: rotate(0deg); left:150px; top:0px;}
			15% {transform: rotate(-35deg); left:200px; top:0px;}
			20% {transform: rotate(0deg); left:250px; top:0px;}
			25% {transform: rotate(-35deg); left:300px; top:0px;}
			30% {transform: rotate(0deg); left:350px; top:0px;}
			35% {transform: rotate(-35deg); left:400px; top:0px;}
			40% {transform: rotate(0deg); left:450px; top:0px;}
			45% {transform: rotate(-35deg); left:500px; top:0px;}
			50% {transform: rotate(0deg); left:550px; top:0px;}
			55% {transform: rotate(35deg); left:550px; top:0px;}
			60% {transform: rotate(0deg); left:500px; top:0px;}
			65% {transform: rotate(35deg); left:450px; top:0px;}
			70% {transform: rotate(0deg); left:400px; top:0px;}
			75% {transform: rotate(35deg); left:350px; top:0px;}
			80% {transform: rotate(0deg); left:300px; top:0px;}
			85% {transform: rotate(35deg); left:250px; top:0px;}
			90% {transform: rotate(0deg); left:200px; top:0px;}
			95% {transform: rotate(35deg); left:150px; top:0px;}
			100% {transform: rotate(0deg); left:100px; top:0px;}
		}
		  
		
		@-webkit-keyframes ani-bottom {
			0%  {transform: rotate(0deg); left:0px; top:0px;}
			5%	{transform: rotate(35deg); left:100px; top:0px;}
			10% {transform: rotate(0deg); left:150px; top:0px;}
			15% {transform: rotate(35deg); left:200px; top:0px;}
			20% {transform: rotate(0deg); left:250px; top:0px;}
			25% {transform: rotate(35deg); left:300px; top:0px;}
			30% {transform: rotate(0deg); left:350px; top:0px;}
			35% {transform: rotate(35deg); left:400px; top:0px;}
			40% {transform: rotate(0deg); left:450px; top:0px;}
			45% {transform: rotate(35deg); left:500px; top:0px;}
			50% {transform: rotate(0deg); left:550px; top:0px;}
			55% {transform: rotate(-35deg); left:550px; top:0px;}
			60% {transform: rotate(0deg); left:500px; top:0px;}
			65% {transform: rotate(-35deg); left:450px; top:0px;}
			70% {transform: rotate(0deg); left:400px; top:0px;}
			75% {transform: rotate(-35deg); left:350px; top:0px;}
			80% {transform: rotate(0deg); left:300px; top:0px;}
			85% {transform: rotate(-35deg); left:250px; top:0px;}
			90% {transform: rotate(0deg); left:200px; top:0px;}
			95% {transform: rotate(-35deg); left:150px; top:0px;}
			100% {transform: rotate(0deg); left:100px; top:0px;}	
		}
*/

/*# sourceMappingURL=animationMixin.css.map */
