@charset "utf-8";
/* CSS Document */

	@mixin animationTopMix( $aniNameTop, $aniDuration, $aniRepeat, $aniTiming) {
			-webkit-animation: $aniNameTop $aniDuration $aniRepeat $aniTiming;
			animation: $aniNameTop $aniDuration $aniRepeat $aniTiming;
	}
	
	
	@mixin animationBottomMix( $aniNameBottom, $aniDuration, $aniRepeat, $aniTiming) {
			-webkit-animation: $aniNameBottom $aniDuration $aniRepeat $aniTiming;
			animation: $aniNameBottom $aniDuration $aniRepeat $aniTiming;
	}