@charset "utf-8";
/* CSS Document */

$pos: relative;
$margin: 50px;
$pmanHeight: 150px;
$pmanWidth: 300px;
$pmanColor: yellow;
$aniDuration: 4s;
$aniRepeat: infinite;
$aniTiming: linear;
$aniNameTop: ani-top;
$aniNameBottom: ani-bottom;
$rotateClosed: 0deg;
$rotateOpenPos: 35deg;
$rotateOpenNeg: -35deg;


	@import 'cssAnimationMixin';
	@import 'keyframeAnimation';

		.pmanTop {
			position: $pos;
			margin-left: $margin;
			height: $pmanHeight;
			width: $pmanWidth;
			border-radius: 200px 200px 0 0;
			background-color: $pmanColor;
			@include animationTopMix($aniNameTop, $aniDuration, $aniRepeat, $aniTiming);
		}
		
		.pmanBottom {
		    position: $pos;
			margin-left: $margin;
			height: $pmanHeight;
			width: $pmanWidth;
			border-radius: 0 0 200px 200px;
			background-color: $pmanColor;
			@include animationBottomMix($aniNameBottom, $aniDuration, $aniRepeat, $aniTiming);
		}
	