@charset "utf-8";
/* CSS Document */


@keyframes ani-top {
			0%  {transform: rotate($rotateClosed); left:0px; top:0px;}
			5%	{transform: rotate($rotateOpenNeg); left:100px; top:0px;}
			10% {transform: rotate($rotateClosed); left:150px; top:0px;}
			15% {transform: rotate($rotateOpenNeg); left:200px; top:0px;}
			20% {transform: rotate($rotateClosed); left:250px; top:0px;}
			25% {transform: rotate($rotateOpenNeg); left:300px; top:0px;}
			30% {transform: rotate($rotateClosed); left:350px; top:0px;}
			35% {transform: rotate($rotateOpenNeg); left:400px; top:0px;}
			40% {transform: rotate($rotateClosed); left:450px; top:0px;}
			45% {transform: rotate($rotateOpenNeg); left:500px; top:0px;}
			50% {transform: rotate($rotateClosed); left:550px; top:0px;}
			55% {transform: rotate($rotateOpenPos); left:550px; top:0px;}
			60% {transform: rotate($rotateClosed); left:500px; top:0px;}
			65% {transform: rotate($rotateOpenPos); left:450px; top:0px;}
			70% {transform: rotate($rotateClosed); left:400px; top:0px;}
			75% {transform: rotate($rotateOpenPos); left:350px; top:0px;}
			80% {transform: rotate($rotateClosed); left:300px; top:0px;}
			85% {transform: rotate($rotateOpenPos); left:250px; top:0px;}
			90% {transform: rotate($rotateClosed); left:200px; top:0px;}
			95% {transform: rotate($rotateOpenPos); left:150px; top:0px;}
			100% {transform: rotate($rotateClosed); left:100px; top:0px;}
		}
		
		@keyframes ani-bottom {
			0%  {transform: rotate($rotateClosed); left:0px; top:0px;}
			5%	{transform: rotate($rotateOpenPos); left:100px; top:0px;}
			10% {transform: rotate($rotateClosed); left:150px; top:0px;}
			15% {transform: rotate($rotateOpenPos); left:200px; top:0px;}
			20% {transform: rotate($rotateClosed); left:250px; top:0px;}
			25% {transform: rotate($rotateOpenPos); left:300px; top:0px;}
			30% {transform: rotate($rotateClosed); left:350px; top:0px;}
			35% {transform: rotate($rotateOpenPos); left:400px; top:0px;}
			40% {transform: rotate($rotateClosed); left:450px; top:0px;}
			45% {transform: rotate($rotateOpenPos); left:500px; top:0px;}
			50% {transform: rotate($rotateClosed); left:550px; top:0px;}
			55% {transform: rotate($rotateOpenNeg); left:550px; top:0px;}
			60% {transform: rotate($rotateClosed); left:500px; top:0px;}
			65% {transform: rotate($rotateOpenNeg); left:450px; top:0px;}
			70% {transform: rotate($rotateClosed); left:400px; top:0px;}
			75% {transform: rotate($rotateOpenNeg); left:350px; top:0px;}
			80% {transform: rotate($rotateClosed); left:300px; top:0px;}
			85% {transform: rotate($rotateOpenNeg); left:250px; top:0px;}
			90% {transform: rotate($rotateClosed); left:200px; top:0px;}
			95% {transform: rotate($rotateOpenNeg); left:150px; top:0px;}
			100% {transform: rotate($rotateClosed); left:100px; top:0px;}
		}

		@-moz-keyframes ani-top {
			0%  {transform: rotate($rotateClosed); left:0px; top:0px;}
			5%	{transform: rotate($rotateOpenNeg); left:100px; top:0px;}
			10% {transform: rotate($rotateClosed); left:150px; top:0px;}
			15% {transform: rotate($rotateOpenNeg); left:200px; top:0px;}
			20% {transform: rotate($rotateClosed); left:250px; top:0px;}
			25% {transform: rotate($rotateOpenNeg); left:300px; top:0px;}
			30% {transform: rotate($rotateClosed); left:350px; top:0px;}
			35% {transform: rotate($rotateOpenNeg); left:400px; top:0px;}
			40% {transform: rotate($rotateClosed); left:450px; top:0px;}
			45% {transform: rotate($rotateOpenNeg); left:500px; top:0px;}
			50% {transform: rotate($rotateClosed); left:550px; top:0px;}
			55% {transform: rotate($rotateOpenPos); left:550px; top:0px;}
			60% {transform: rotate($rotateClosed); left:500px; top:0px;}
			65% {transform: rotate($rotateOpenPos); left:450px; top:0px;}
			70% {transform: rotate($rotateClosed); left:400px; top:0px;}
			75% {transform: rotate($rotateOpenPos); left:350px; top:0px;}
			80% {transform: rotate($rotateClosed); left:300px; top:0px;}
			85% {transform: rotate($rotateOpenPos); left:250px; top:0px;}
			90% {transform: rotate($rotateClosed); left:200px; top:0px;}
			95% {transform: rotate($rotateOpenPos); left:150px; top:0px;}
			100% {transform: rotate($rotateClosed); left:100px; top:0px;}
		}
		  
		
		@-moz-keyframes ani-bottom {
			0%  {transform: rotate($rotateClosed); left:0px; top:0px;}
			5%	{transform: rotate($rotateOpenPos); left:100px; top:0px;}
			10% {transform: rotate($rotateClosed); left:150px; top:0px;}
			15% {transform: rotate($rotateOpenPos); left:200px; top:0px;}
			20% {transform: rotate($rotateClosed); left:250px; top:0px;}
			25% {transform: rotate($rotateOpenPos); left:300px; top:0px;}
			30% {transform: rotate($rotateClosed); left:350px; top:0px;}
			35% {transform: rotate($rotateOpenPos); left:400px; top:0px;}
			40% {transform: rotate($rotateClosed); left:450px; top:0px;}
			45% {transform: rotate($rotateOpenPos); left:500px; top:0px;}
			50% {transform: rotate($rotateClosed); left:550px; top:0px;}
			55% {transform: rotate($rotateOpenNeg); left:550px; top:0px;}
			60% {transform: rotate($rotateClosed); left:500px; top:0px;}
			65% {transform: rotate($rotateOpenNeg); left:450px; top:0px;}
			70% {transform: rotate($rotateClosed); left:400px; top:0px;}
			75% {transform: rotate($rotateOpenNeg); left:350px; top:0px;}
			80% {transform: rotate($rotateClosed); left:300px; top:0px;}
			85% {transform: rotate($rotateOpenNeg); left:250px; top:0px;}
			90% {transform: rotate($rotateClosed); left:200px; top:0px;}
			95% {transform: rotate($rotateOpenNeg); left:150px; top:0px;}
			100% {transform: rotate($rotateClosed); left:100px; top:0px;}	
		}

		@-webkit-keyframes ani-top {
			0%  {transform: rotate($rotateClosed); left:0px; top:0px;}
			5%	{transform: rotate($rotateOpenNeg); left:100px; top:0px;}
			10% {transform: rotate($rotateClosed); left:150px; top:0px;}
			15% {transform: rotate($rotateOpenNeg); left:200px; top:0px;}
			20% {transform: rotate($rotateClosed); left:250px; top:0px;}
			25% {transform: rotate($rotateOpenNeg); left:300px; top:0px;}
			30% {transform: rotate($rotateClosed); left:350px; top:0px;}
			35% {transform: rotate($rotateOpenNeg); left:400px; top:0px;}
			40% {transform: rotate($rotateClosed); left:450px; top:0px;}
			45% {transform: rotate($rotateOpenNeg); left:500px; top:0px;}
			50% {transform: rotate($rotateClosed); left:550px; top:0px;}
			55% {transform: rotate($rotateOpenPos); left:550px; top:0px;}
			60% {transform: rotate($rotateClosed); left:500px; top:0px;}
			65% {transform: rotate($rotateOpenPos); left:450px; top:0px;}
			70% {transform: rotate($rotateClosed); left:400px; top:0px;}
			75% {transform: rotate($rotateOpenPos); left:350px; top:0px;}
			80% {transform: rotate($rotateClosed); left:300px; top:0px;}
			85% {transform: rotate($rotateOpenPos); left:250px; top:0px;}
			90% {transform: rotate($rotateClosed); left:200px; top:0px;}
			95% {transform: rotate($rotateOpenPos); left:150px; top:0px;}
			100% {transform: rotate($rotateClosed); left:100px; top:0px;}
		}
		  
		
		@-webkit-keyframes ani-bottom {
			0%  {transform: rotate($rotateClosed); left:0px; top:0px;}
			5%	{transform: rotate($rotateOpenPos); left:100px; top:0px;}
			10% {transform: rotate($rotateClosed); left:150px; top:0px;}
			15% {transform: rotate($rotateOpenPos); left:200px; top:0px;}
			20% {transform: rotate($rotateClosed); left:250px; top:0px;}
			25% {transform: rotate($rotateOpenPos); left:300px; top:0px;}
			30% {transform: rotate($rotateClosed); left:350px; top:0px;}
			35% {transform: rotate($rotateOpenPos); left:400px; top:0px;}
			40% {transform: rotate($rotateClosed); left:450px; top:0px;}
			45% {transform: rotate($rotateOpenPos); left:500px; top:0px;}
			50% {transform: rotate($rotateClosed); left:550px; top:0px;}
			55% {transform: rotate($rotateOpenNeg); left:550px; top:0px;}
			60% {transform: rotate($rotateClosed); left:500px; top:0px;}
			65% {transform: rotate($rotateOpenNeg); left:450px; top:0px;}
			70% {transform: rotate($rotateClosed); left:400px; top:0px;}
			75% {transform: rotate($rotateOpenNeg); left:350px; top:0px;}
			80% {transform: rotate($rotateClosed); left:300px; top:0px;}
			85% {transform: rotate($rotateOpenNeg); left:250px; top:0px;}
			90% {transform: rotate($rotateClosed); left:200px; top:0px;}
			95% {transform: rotate($rotateOpenNeg); left:150px; top:0px;}
			100% {transform: rotate($rotateClosed); left:100px; top:0px;}	
		}