/* CSS Document */
h2 {
  color: white; }

h4 {
  border-top: 1px solid #e1ddb7;
  color: #e1ddb7;
  margin: 1em; }

p {
  margin: 2em; }

.rect {
  height: 40px;
  width: 80px;
  border: 2px solid blue;
  background-color: yellow;
  margin: 100px; }

.shape {
  height: 180px;
  width: 170px;
  border: 2px solid blue;
  border-radius: 15px 50px;
  background-color: green;
  margin: 100px; }

.round {
  height: 60px;
  width: 60px;
  border: 2px solid blue;
  border-radius: 35px;
  background-color: red;
  margin: 100px; }

/* CSS Document */
/* looks for a file call transformMixin.scss */
.rect:hover {
  -ms-transform: scale(2, 3) skewX(20deg);
  -webkit-transform: scale(2, 3) skewX(20deg);
  transform: scale(2, 3) skewX(20deg); }

.shape:hover {
  -ms-transform: translate(25px, 10px) rotate(60deg);
  -webkit-transform: translate(25px, 10px) rotate(60deg);
  transform: translate(25px, 10px) rotate(60deg); }

.round:hover {
  -ms-transform: matrix(1, -2, 2, 2, 1, 3);
  -webkit-transform: matrix(1, -2, 2, 2, 1, 3);
  transform: matrix(1, -2, 2, 2, 1, 3); }

/*# sourceMappingURL=sassTransform.css.map */
