@charset "utf-8";
/* CSS Document */

$containerWidth: 500px;

$containerHeight: 500px;

$primaryColor: blue;

$secondaryColor: brown;

$shadowColor: yellow;

$radius: 25px;


@import 'gradientMixin';	/* looks for a file call gradient.scss */


.applyGradient { @include verticalGradient($primaryColor, $secondaryColor) }



#container {
	width: $containerWidth;
	height: $containerHeight;
	background-color: $primaryColor;
	border-radius: $radius;
	border: 5px solid $secondaryColor;
}

h1 {
	text-shadow: 5px 5px $shadowColor;
}