/* CSS Document */
.rect {
  margin: 100px;
  width: 250px;
  height: 150px;
  background-color: yellow;
  -webkit-transition: width 3s, height 3s;
  /* For Safari */
  transition: width 3s, height 3s; }

.rect:hover {
  width: 150px;
  height: 50px; }

.shape {
  height: 150px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 35px 60px;
  background-color: purple;
  margin: 100px;
  -webkit-transition: width 3s, height 3s;
  /* For Safari */
  transition: width 3s, height 3s;
  -webkit-transition-delay: 1s;
  /* Safari */
  transition-delay: 1s; }

.shape:hover {
  height: 50px;
  width: 150px; }

.round {
  height: 150px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 35px;
  background-color: green;
  margin: 100px;
  -webkit-transition: width 3s, height 3s;
  /* For Safari */
  transition: width 3s, height 3s, background-color 4s, border 4s;
  transition-timing-function: ease-in-out; }

.round:hover {
  border: 10px solid yellow;
  background-color: blue;
  height: 50px;
  width: 150px; }

/*# sourceMappingURL=sassTransitions.css.map */
