/* CSS Document */
h2 {
  color: white; }

h4 {
  border-top: 1px solid #e1ddb7;
  color: #e1ddb7;
  margin: 1em; }

p {
  margin: 2em; }

/* CSS Document */
/* looks for a file call sassTformTransitionMixin.scss */
.rect {
  margin: 100px;
  width: 250px;
  height: 150px;
  border: 2px solid blue;
  background-color: yellow;
  -webkit-transition: width 3s, height 3s, background-color 3s, border 3s, -webkit-transform 3s;
  transition: width 3s, height 3s, background-color 3s, border 3s, transform 3s; }

.rect:hover {
  -ms-transform: scale(0.5, 0.75) skewX(20deg);
  -webkit-transform: scale(0.5, 0.75) skewX(20deg);
  transform: scale(0.5, 0.75) skewX(20deg);
  width: 350px;
  height: 50px;
  background-color: blue;
  border: 5px solid yellow; }

.shape {
  height: 150px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 35px 60px;
  background-color: purple;
  margin: 100px;
  -webkit-transition: width 3s, height 3s, background-color 3s, border 3s, -webkit-transform 3s;
  transition: width 3s, height 3s, background-color 3s, border 3s, transform 3s;
  -webkit-transition-delay: 1s;
  /* Safari */
  transition-delay: 1s; }

.shape:hover {
  -ms-transform: translate(125px, 110px) rotate(60deg);
  -webkit-transform: translate(125px, 110px) rotate(60deg);
  transform: translate(125px, 110px) rotate(60deg);
  height: 50px;
  width: 350px;
  background-color: red;
  border: 5px solid yellow; }

/*# sourceMappingURL=sassTformTransition.css.map */
