@charset "utf-8";
/* CSS Document */

		$matrixScaleX: 1;

		$matrixSkewY: -2;

		$matrixSkewX: 2;

		$matrixScaleY: 2;

		$matrixTranX: 1;

		$matrixTranY: 3;

		$scaleWidth: 2;

		$scaleHeight: 3;

		$skewXVal: 20deg;

		$translateValX: 25px;

		$translateValY: 10px;

		$rotateVal: 60deg;



		h2 {
			color: white;
		}
		
		h4 {
			border-top: 1px solid #e1ddb7;
			color: #e1ddb7;
			margin: 1em;
		}
		
		p {
			margin: 2em;
		}	
		
		.rect {
			height: 40px;
			width: 80px;
			border: 2px solid blue;
			background-color: yellow;
			margin: 100px;
		}
		
		.shape {
			height: 180px;
			width: 170px;
			border: 2px solid blue;
			border-radius: 15px 50px;
			background-color: green;
			margin: 100px;
		}
		
		.round {
			height: 60px;
			width: 60px;
			border: 2px solid blue;
			border-radius: 35px;
			background-color: red;
			margin: 100px;
		}



		@import 'transformMixin';   /* looks for a file call transformMixin.scss */


		.rect:hover { @include scaleSkewMix($scaleWidth, $scaleHeight, $skewXVal) }

		.shape:hover { @include rotateTranslateMix($rotateVal, $translateValX, $translateValY) }

		.round:hover { @include matrixMix($matrixScaleX, $matrixSkewY, $matrixSkewX, $matrixScaleY, $matrixTranX, $matrixTranY) }

