@charset "utf-8";
/* CSS Document */

	$pageMargin: 100px;
	$originalHeight: 150px;
	$originalWidth: 250px;
	$transitionHeight: 50px;
	$transitionWidth: 150px;
	$widthTime: 3s;
	$heightTime: 3s;
	$backChange: 3s;
	$borderChange: 3s;
	
	@import 'transitionsMixin';  

		.rect {
			margin: $pageMargin;
			width: $originalWidth;
			height: $originalHeight;
			background-color: yellow;
			@include transitionMix($widthTime, $heightTime, $backChange, $borderChange);
		}
		
		.rect:hover {
			width: $transitionWidth;
			height: $transitionHeight;
		}
		
		.shape {
			height: $originalHeight;
			width: $originalWidth;
			border: 2px solid blue;
			border-radius: 35px 60px;
			background-color: purple;
			margin: $pageMargin;
			@include transitionMix($widthTime, $heightTime, $backChange, $borderChange);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
		}
		
		.shape:hover {
			height: $transitionHeight;
			width: $transitionWidth;
			
		}
		
		.round {
			height: $originalHeight;
			width: $originalWidth;
			border: 2px solid blue;
			border-radius: 35px;
			background-color: green;
			margin: $pageMargin;
			@include transitionMix($widthTime, $heightTime, $backChange, $borderChange);
			transition-timing-function: ease-in-out;
			
		}
		
		.round:hover {
			border: 10px solid yellow;
			background-color: blue;
			height: $transitionHeight;
			width: $transitionWidth;
		}
		
		