@charset "utf-8";
/* CSS Document */


		$scaleWidth: 0.5;

		$scaleHeight: 0.75;

		$skewXVal: 20deg;

		$translateValX: 125px;

		$translateValY: 110px;

		$rotateVal: 60deg;
		
		$pageMargin: 100px;
		
		$originalHeight: 150px;
		
		$originalWidth: 250px;
		
		$transitionHeight: 50px;
		
		$transitionWidth: 350px;
		
		$widthTime: 3s;
		
		$heightTime: 3s;
		
		$backChange: 3s;
		
		$borderChange: 3s;
		
		$transformChange: 3s;
		



		h2 {
			color: white;
		}
		
		
		h4 {
			border-top: 1px solid #e1ddb7;
			color: #e1ddb7;
			margin: 1em;
		}
		
		
		p {
			margin: 2em;
		}	
		
		
		@import 'sassTformTransitionMixin';   /* looks for a file call sassTformTransitionMixin.scss */
		
		.rect {
			margin: $pageMargin;
			width: $originalWidth;
			height: $originalHeight;
			border: 2px solid blue;
			background-color: yellow;
			@include transitionMix($widthTime, $heightTime, $backChange, $borderChange, $transformChange);
		}
		
		.rect:hover {
			@include scaleSkewMix($scaleWidth, $scaleHeight, $skewXVal);
			width: $transitionWidth;
			height: $transitionHeight;
			background-color: blue;
			border: 5px solid yellow;
		}
		
		
		.shape {
			height: $originalHeight;
			width: $originalWidth;
			border: 2px solid blue;
			border-radius: 35px 60px;
			background-color: purple;
			margin: $pageMargin;
			@include transitionMix($widthTime, $heightTime, $backChange, $borderChange, $transformChange);
			-webkit-transition-delay: 1s; /* Safari */
			transition-delay: 1s;
		}
		
		.shape:hover {
			@include rotateTranslateMix($rotateVal, $translateValX, $translateValY);
			height: $transitionHeight;
			width: $transitionWidth;
			background-color: red;
			border: 5px solid yellow;
			
		}
		
		
		
		
		
