/* CSS Document */
/* CSS Document */
/* looks for a file call gradient.scss */
.applyGradient {
  background: blue;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, brown);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, brown);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, brown);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, brown);
  /* Standard syntax (must be last) */ }

#container {
  width: 500px;
  height: 500px;
  background-color: blue;
  border-radius: 25px;
  border: 5px solid brown; }

h1 {
  text-shadow: 5px 5px yellow; }

/*# sourceMappingURL=sassExampleOut.css.map */
