@charset "utf-8";
/* CSS Document */


			
			
	@mixin transitionMix($widthTime, $heightTime, $backChange, $borderChange) {
		-webkit-transition: width $widthTime, height $heightTime, background-color $backChange, border $borderChange;
		transition: width $widthTime, height $heightTime, background-color $backChange, border $borderChange;
	}