@charset "utf-8";
/* CSS Document */


@mixin scaleSkewMix($scaleWidth, $scaleHeight, $skewXVal) {

	-ms-transform: scale($scaleWidth, $scaleHeight) skewX($skewXVal);
	-webkit-transform: scale($scaleWidth, $scaleHeight) skewX($skewXVal);
	transform: scale($scaleWidth, $scaleHeight) skewX($skewXVal);
	
}




@mixin rotateTranslateMix($rotateVal, $translateValX, $translateValY) {

	-ms-transform: translate($translateValX, $translateValY) rotate($rotateVal); 
	-webkit-transform: translate($translateValX, $translateValY) rotate($rotateVal); 
	transform: translate($translateValX, $translateValY) rotate($rotateVal);
	
}



@mixin matrixMix($matrixScaleX, $matrixSkewY, $matrixSkewX, $matrixScaleY, $matrixTranX, $matrixTranY) {

	-ms-transform: matrix($matrixScaleX, $matrixSkewY, $matrixSkewX, $matrixScaleY, $matrixTranX, $matrixTranY);
			-webkit-transform: matrix($matrixScaleX, $matrixSkewY, $matrixSkewX, $matrixScaleY, $matrixTranX, $matrixTranY);
			transform: matrix($matrixScaleX, $matrixSkewY, $matrixSkewX, $matrixScaleY, $matrixTranX, $matrixTranY);

}