/*Homepage

Written by Kraig Popelka
2/4/2016*/

#container {
	width: 100%;
	border: solid #001a00 .1em;
}

#homework {
	width: 45%;
	float: left;
	border-right: solid #001a00 .1em;
	padding: 1% 3% 1% 1%;
}

#projects {
	width: 45%;
	padding: 1%;
	float: right;
}

/*Body*/
body{
	background-color: #003329;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.25em;
}
img.center{
		display: block;
		padding: 1%;
		margin-left: auto;
		margin-right: auto
		}
/*Links*/

a:link{
	color: #bfbfbf;
	text-decoration: none;
}

a:visited{
	color: #bfbfbf;
	text-decoration: none;
}

a:hover{
	color: #003333;
}

p a:hover{
	background-color: #00e6ac;
	color: #003333;
}

/*Heading Styles*/

h1{
	background-color: #001a00;
	color: #bfbfbf;
	font-size: 1.75em;
	letter-spacing: .15em;
	text-align: center;
	text-transform: uppercase;
	word-spacing: .25em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-top: dashed #bfbfbf .1em;
}

h2{
	color: #bfbfbf;
	text-align: center;
	border-bottom: dashed #bfbfbf .1em;
}

h3{
	background-color: #001a00;
	color: #bfbfbf;
	padding: 1px;
}

/*List Items*/
li{
	background-color: #004d39;
	font-family: Elephant, serif;
	border: outset #3d5c5c .5em;
	padding: 8px;
	margin: 8px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	letter-spacing: .1em;
	width: 75%;
}

li:hover {
	background-color: #94b8b8;
	color: #003333;
}

.clear {
	clear: both;
}




