/*
	Classic Taxi
	Layout Style sheet
	
	Author:  Kraig Popelka
	1/26/2016
*/

/*Body*/
body{
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

/*Links*/

a{
	color: orange;
	text-decoration: none;
}

/*Heading Styles*/

h1{
	background-color: orange;
	color: black;
	font-size: 2.5em;
	letter-spacing: .2em;
	text-align: center;
	text-transform: uppercase;
	word-spacing: .5em;
}

h2{
	background-color: chocolate;
	color: white;
}

/*Paragraph*/

p{
	color: saddlebrown;
	line-height: 1.5em;
	text-indent: 3em;
}

/*Footer*/

footer{
	color: saddlebrown;
	background-color: palegoldenrod;
	font-size: .7em;
	text-align: center;
}

