  .error {
    color: rgb(197, 21, 65);
  }

  body {
    background-color: rgb(233, 233, 233);
  }
  
  #player {
    display: none;
    width:100%;
  }

  #capture {
    display: none;
    width:100%;
    font-size: 0.8em;
  }

  #closeImageCap {
    width: 100%;
    background-color: rgb(138, 2, 31);
    font-size: 0.8em;
  }

  #beerFormSubmit, #takeImage {
    width: 45%;
    height: 75px;
    background-color: rgb(15, 128, 71);
    color: rgb(224, 224, 224);
  }

  #resetForm {
    width: 45%;
    height: 75px;
    background-color: rgb(138, 2, 31);
    color: rgb(224, 224, 224);
  }

  #canvas {
    display: none; 
  }


  #loginPageText, #showUsername {
      text-align: center;
      margin: 0 auto;
  }


  #confirmReg {
    display: none;
  }

  #logoutBtnContainer {
    text-align: right;
  }

  #viewBeerRating {
    color: rgb(224, 146, 30);
  }

  #viewBeerImage {
    width: 100%;
  }

  #about {
    text-align: center;
  }

  #about img {
    width: 25%;
  }

/*-----------------Star Ratings---------------------------------------------------- */
  div.beerRating {
    width: 270px;
    display: inline-block;
  }
  
  input.rating { display: none; }
  
  label.rating {
    float: right;
    padding: 5px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
  }
  
  input.rating:checked ~ label.rating:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.rating-5:checked ~ label.rating:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  
  input.rating-1:checked ~ label.rating:before { color: #F62; }
  
  label.rating:hover { transform: scale(1.05); }
  
  label.rating:before {
    content: '\f006';
    font-family: FontAwesome;
  }

/*----Table Styles-----*//*Table created using http://www.tablesgenerator.com/html_tables# --*/
table {width: 100%;}
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-yzt1{background-color:#efefef;vertical-align:top;text-align:center}
.tg .tg-aq88{background-color:#343434;color:#ffffff;text-align:center}
.tg .tg-wr1b{background-color:#343434;color:#ffffff;vertical-align:top}

/*-----------------Overlay---------------------------------------------------- */

#capImageOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  cursor: pointer;
}

#capImageOverlayItems {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}