/*Lab Project
Kraig Popelka
3/10/2016*/

li.navbar {
		text-align: center;
		font-size: 2em;
		display: inline;
		margin: 25px;
}

.center{
		text-align: center;
		background-color: #60401f;
}

.bancenter{
	color: white;
	text-align: center;
	font-size: 2.5em;
}

.footer{
	color: #4BC7CF;
	font-weight: bold;
}

.prodcolor{
					color: #D05340;
}
			
body {
		background-color: #004d00;
}

p {
	color: white;
}

a{
	text-decoration: none;
}

li a:link{
	color: #66cc00;
}

li a:visited{
	color: #99ff33;
}

li a:hover{
	color: #b3b300;
}

p a:link{
	color: #ffff80;
}

p a:visited{
	color: #00e6e6;
}

p a:hover{
	color: #ccffcc;
}

.color{
	color: #ffbf80;
}

h2,h3{
	color: white;
}

footer{
	text-align: center;
}