/*Print Styles*/
/*Author: Kraig Popelka*/
/*Date: 4/7/2016*/

	/*Hides Elements*/
	
		nav, header {
			display: none;
		}

		@page {
			size: 8.5in 11in;
			margin: 0.5in;
		}

	
	/*Formats Page for Printing*/
	
		body {
			color: black;
			background-color: white;
			background-image: none;
			font-size: 12pt;
			font-family: "Times New Roman", Times, serif;
			line-height: 120%;
		}
		
		
	/*Sets Links to Default Colors*/
	
		a {
			text-decoration: underline;
			color: blue;
		}
		
		
	/*Removes Images from Printout*/
	
		img {
			display: none;
		}