/*Tutorial 5 Case 4
Kraig Popelka
3/28/2016*/

			
			body{
				background-color: darkslategray;
				background-image: url(images/stars.jpg);
				color: #e6f3ff;
				font-size: 1.1em;
				font-family: Verdana, sans-serif;
			}
			
			
			h1{
				background-color: black;
				margin: 0 0 0 10px;
				padding: 4px;
				text-align: center;
				text-decoration: underline;
			}
			
			h3{
				background-color: gray;
				margin: 10px 0 0 10px;
				border-bottom: solid thick darkkhaki;
				padding-bottom: 0.5em;
			}
			
			h4{
				background-image: url(images/green_linen.jpg);
				background-color: yellow;
				display: inline;
				padding: 4px;
				color: black;
			}
			
			p{
				background-color: #001133;
				color: white;
			}
			
			p.resource{
				width: 800px;
				float: left;
				margin: 20px 100px;
			}
			
			ul{
				background-color: #001133;
				color: white;
			}
			
			
			img{
				float: left;
				margin: 0 20px 20px 0;
				padding: 20px 0 0 0;
			}
			
			img.right{
				border: double thick gray;
				float: right;
				margin: 10px 0 10px 10px;
				padding: 0;
			}
			
			.clear{
				clear: both;
			}