/* CSS Document */
@keyframes slideIn {
  0% {
    left: -100%;
    transform: scale(0, 0) rotate(-90deg); }
  50% {
    left: -50%;
    transform: scale(0.2, 0.2) rotate(-40deg); }
  100% {
    left: 0px; } }
@-moz-keyframes slideIn {
  0% {
    left: -100%;
    transform: scale(0, 0) rotate(-90deg); }
  50% {
    left: -50%;
    transform: scale(0.2, 0.2) rotate(-40deg); }
  100% {
    left: 0px; } }
@-webkit-keyframes slideIn {
  0% {
    left: -100%;
    transform: scale(0, 0) rotate(-90deg); }
  50% {
    left: -50%;
    transform: scale(0.2, 0.2) rotate(-40deg); }
  100% {
    left: 0px; } }

/*# sourceMappingURL=keyframeFinal.css.map */
