/* CSS Document */
/* CSS Document */
/* looks for a file called mixinsFinal.scss */
/* CSS Document */
@keyframes slideIn {
  0% {
    left: -100%;
    transform: scale(0, 0) rotate(-90deg); }
  50% {
    left: -50%;
    transform: scale(0.2, 0.2) rotate(-40deg); }
  100% {
    left: 0px; } }
@-moz-keyframes slideIn {
  0% {
    left: -100%;
    transform: scale(0, 0) rotate(-90deg); }
  50% {
    left: -50%;
    transform: scale(0.2, 0.2) rotate(-40deg); }
  100% {
    left: 0px; } }
@-webkit-keyframes slideIn {
  0% {
    left: -100%;
    transform: scale(0, 0) rotate(-90deg); }
  50% {
    left: -50%;
    transform: scale(0.2, 0.2) rotate(-40deg); }
  100% {
    left: 0px; } }
/*--------Color Variables -------------------------------------*/
/* Dark Gray */
/* Medium Gray */
/* Lighter Gray */
/* Gray/Blue */
/* DarkPurple */
/*-----------------------------------------------------------------------*/
/*--------Transition/Transform Variables --------------*/
/* Image Background */
/* Image */
/*-----------------------------------------------------------------------*/
/*--------Animation Variables ------------------------------*/
/*-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

.sassLink {
  display: none; }

.jumbotron {
  background-color: #424242;
  color: white;
  text-align: center; }

body {
  background-color: black;
  color: white; }

h2 {
  font-size: 50px; }

footer {
  text-align: center; }

.col-sm-12 img {
  width: 90%;
  vertical-align: middle;
  max-width: 346px;
  max-height: 231px;
  border: 7px outset #3e3e47;
  -webkit-transition: width 3s, height 3s, background-color 3s, border 3s, -webkit-transform 3s;
  transition: width 3s, height 3s, background-color 3s, border 3s, transform 3s; }

.col-sm-12 img:hover {
  -ms-transform: scale(0.5, 0.5) skewX(0deg);
  -webkit-transform: scale(0.5, 0.5) skewX(0deg);
  transform: scale(0.5, 0.5) skewX(0deg);
  -ms-transform: translate(0px, 5px) rotate(-20deg);
  -webkit-transform: translate(0px, 5px) rotate(-20deg);
  transform: translate(0px, 5px) rotate(-20deg);
  width: 346px;
  border: 7px outset white; }

.thumbBorder {
  background-color: #424242;
  width: 95%;
  margin: 10% auto;
  padding: 5%;
  max-width: 403px;
  max-height: 300px;
  border: 5px inset #686877;
  -webkit-transition: width 3s, height 3s, background-color 3s, border 3s, -webkit-transform 3s;
  transition: width 3s, height 3s, background-color 3s, border 3s, transform 3s; }

.thumbBorder:hover {
  -ms-transform: scale(0.5, 0.5) skewX(20deg);
  -webkit-transform: scale(0.5, 0.5) skewX(20deg);
  transform: scale(0.5, 0.5) skewX(20deg);
  -ms-transform: translate(-20px, -25px) rotate(20deg);
  -webkit-transform: translate(-20px, -25px) rotate(20deg);
  transform: translate(-20px, -25px) rotate(20deg);
  width: 403px; }

.modal-content img {
  width: 100%;
  text-align: center; }

.modal-content {
  background-color: #424242; }

.modal-dialog {
  background-color: #686877;
  width: 80%; }

.btn, .btn-info, .btn-lg, .btn:hover, .btn-info:hover, .btn-lg:hover, .btn:visited, .btn-info:visited, .btn-lg:visited, .btn:active, .btn-info:active, .btn-lg:active {
  background-color: #424242;
  color: white;
  border-color: #424242; }

.container {
  position: relative;
  -webkit-animation: slideIn 3.5s 1 linear;
  animation: slideIn 3.5s 1 linear; }

@media (min-width: 0) and (max-width: 700px) {
  body {
    background-color: #3e3e47; }

  .jumbotron {
    background-color: white;
    color: black; }

  .thumbBorder {
    background-color: white; } }
@media (min-width: 701px) and (max-width: 1367px) {
  body {
    background-color: #424242; }

  .jumbotron {
    background-color: black; }

  .thumbBorder {
    background-color: black; } }
@media (min-width: 1368px) {
  body {
    background-color: black; }

  .jumbotron {
    background-color: #344a4c; }

  .thumbBorder {
    background-color: #00282b; } }

/*# sourceMappingURL=sassFinal.css.map */
