													
		/*
				Side Navigation Menu
				Based on W3Schools example
				http://www.w3schools.com/howto/howto_js_sidenav.asp
		*/

							.sidenav {
								height: 100%;
								width: 0;
								position: fixed;
								z-index: 1;
								top: 0;
								left: 0;
								background-color: $color3;
								overflow-x: hidden;
								transition: 0.5s;
								padding-top: 40px;
								border-right: 2px outset $color2;
								opacity: 0.95;
							}

							
							
							.sidenav a {
								padding: 8px 8px 8px 32px;
								text-decoration: none;
								font-size: 1.5em;
								color: $color2;
								display: block;
								transition: 0.3s
							}
	
							
							.sidenav .closebtn {
								position: absolute;
								top: 0;
								right: 25px;
								font-size: 36px;
								margin-left: 50px;
							}

							
							
							@media screen and (max-height: 450px) {
							  .sidenav {padding-top: 15px;}
							  .sidenav a {font-size: 18px;}
							}
							
							
							
							.sideContent {
								height: 100%;
								width: 0;
								position: fixed;
								z-index: 1;
								top: 0;
								right: 0;
								bottom: 0;
								background-color: $color4;
								overlow-x: hidden;
								transition: 0.6s;
								padding-top: 40px;
								border-left: 2px outset $color2;
								overflow-y: scroll;
							}
							
							
							
							.sideContent .closeRbtn {
								position: absolute;
								top: 0;
								left: 25px;
								font-size: 36px;
								margin-right: 50px;
							}
							
							
							
							.sideContent a {
								padding: 8px 8px 8px 32px;
								text-decoration: none;
								font-size: 1.5em;
								color: $color2;
								display: block;
								transition: 0.3s
							}
							
							
								