/* Downtown Thai Page Style */

				* {
					margin: 0;
					padding: 0;
				}

				

				.main {
						width:  90%;
						height: 100%;
						margin: 1% auto;
						background-color: $color5;
						color: $color2;
						border: 3px outset $color6;
				}
				

				
				#heading, footer {
						text-align: center;
						color: $color1;
						/*color: $color6;*/
				}
				
				
				
				#menuButton {
						background-color: $color7;
						color: $color8;
						margin-left: 8px;
						margin-top: 5px;
						padding: 0 5px;
						border: 2px outset $color8;
				}
				
				
				
				#menuButton:hover {
						background-color: $color6;
						color: $color9;
				}
				
				
				
				#todaySpecial {
						width: 70%;
						margin: 3% auto;
						border: 7px inset  $color4;
						text-align: center;
						background-image: url("../images/wood.jpg");
				}
				
				
				
				.sidePageContent {
						color: $color2;
						margin-left: 50px;
						margin-right: 50px;
				}
				
				
				
				
				
			    #allSpecialsBtn {
						font-family: Impact, Charcoal, sans-serif;
						font-size: 1.5em;
						background-color: $color4;
						color: $color6;
						border: 3px outset $color2;
						border-radius: 25px;
						margin: 10px;
						padding: 10px;
						text-decoration: none;
				}
				
				
				
				#allSpecialsBtn:hover {
						background-color: $color2;
						color: $color4;
						border: 3px ridge $color6;
				}
				
				
				#menuSideContent img {
						width: 60%;
						float: right;
				}
				
				#menuSideContent .row {
						margin-bottom: 50px;
						
				}
				
				#menuSideContent h5 {
						margin-bottom: 35px;
				}
				
				
				#quickMealSideContent form input,select,p {
						margin: 10px 0;
				}
				
				#quickMealSideContent input,textarea,select {
						background-color: $color2;
						color: $color4;
				}
				
				#quickMealSideContent img {
						width: 100%;
						border: 5px outset $color2;
				}
				
				
				
				#locationSideContent input,textarea,select {
						background-color: $color2;
						color: $color4;
				}
				
				.quantity {
						text-align: center;
				}
				
				
				body {
						background-color: $color4;
				}
				
				#displayOrder {
						display: none;
				}
				
				
				
				#monday, #tuesdayLunch, #tuesdayDinner, #wednesdayLunch, #wednesdayDinner, #thursdayLunch, #thursdayDinner, #fridayLunch, #fridayHappyHour, #fridayDinner, #saturdayHappyHour, #saturdayDinner, #noSpecial {
					
						display: none;
				}