/*
Error: Invalid @import: expected end of line, was ";".
        on line 3 of F:\xampp\htdocs\portSitev2\pages\school\class_pages\wdv221\test\final\files\fromSass.sass

1: /* Colors Style Sheet *\/
2: 
3: @import "_dailySpecials";
4: @import "_navMenu";
5: @import "_thaiStyle";
6: 
7: $color1: #ffcd82;
8: $color2: #e0d0b5;

Backtrace:
F:\xampp\htdocs\portSitev2\pages\school\class_pages\wdv221\test\final\files\fromSass.sass:3
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:986:in `parse_import_directive'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:788:in `parse_directive'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:635:in `parse_line'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:525:in `build_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:544:in `block in append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:543:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:543:in `append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:396:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid @import: expected end of line, was \";\".\A         on line 3 of F:\xampp\htdocs\portSitev2\pages\school\class_pages\wdv221\test\final\files\fromSass.sass\A \A 1: /* Colors Style Sheet */\A 2: \A 3: @import \"_dailySpecials\";\A 4: @import \"_navMenu\";\A 5: @import \"_thaiStyle\";\A 6: \A 7: $color1: #ffcd82;\A 8: $color2: #e0d0b5;"; }
