body
{
margin: 0;
height: 1000px;        
}
#iconDiv
{
position: fixed;
top: 50%;
margin-top: -100px;
z-index: 1;
height: 200px;
width: 200px;
box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.block
{
position: relative;
top: 0px;
left: 0px;
height: 200px; 
width: 400px;
}