/*Print styles*/
/* Author: Kraig Popelka */
/* Date: 4/7/2016 */

	/* hides elements */

		nav, header {
			display: none;
		}
		
		@page {
		  size: 8.5in 11in;
		  margin: 0.5in;
		}
		
		
	/* print designed for accessibility */
		 
		body {
		  color: black;
		  background-color: white;
		  background-image: none;
		  font-size: 12pt;
		  font-family: "Times New Roman", Times, serif;
		  line-height: 120%;
		}
		
		
	/* sets links to default colors */
		 
		a {
		  text-decoration: underline;
		  color: blue;
		}
		
		
	/* removes images from print out */
		 
		img {
			 display: none;
		}
