
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}




				*{
					margin: 0;
					padding: 0;
					box-sizing: border-box;
				}
				
				body{
					background-color: black;
					color: white;
				}
			
				.header, .footer {
					min-width: 450px;
					background-color: brown;
					padding: 15px;
					text-align: center;
				}
				
				
				
				#main-content {
					width: 60%;
					background-color: green;
					float: left;
				}
				
				#side-col {
					background-color: purple;
					color: white;
				}
				
				#navBar ul {
					min-width: 400px;
					background-color: blue;
					overflow: hidden;
				}
				
				#navBar ul li {
					list-style-type: none;
					display: inline-block;
					float: left;
				}
				
				#navBar ul li a:link, a:visited {
					color: white;
					text-align: center;
					padding: 20px 10px;
					text-decoration: none;
				}
				
				#navBar ul li a:hover {
					background-color: black;
					color: green;
				}
				
				p {
					margin: 2% 0;
				}
				
}