
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	
				*{
					padding: 0;
					margin: 0;
					box-sizing: border-box;
				}


				body{
					background-color: yellow;
					color: white;
				}
			
				.header, .footer {
					min-width: 450px;
					background-color: brown;
				}
				
				#main-content {
					width: 60%;
					background-color: green;
					float: left;
				}
				
				#side-col {
					background-color: purple;
					color: white;
				}
				
				#navBar ul {
					min-width: 400px;
					background-color: blue;
					overflow: hidden;
				}
				
				#navBar ul li {
					list-style-type: none;
					display: inline-block;
					float: left;
				}
				
				#navBar ul li a:link, a:visited {
					color: white;
					text-align: center;
					padding: 20px 10px;
					text-decoration: none;
				}
				
				#navBar ul li a:hover {
					background-color: black;
					color: green;
				}
				
				p {
					margin: 2% 0;
				}
				
}