/*Lab Project
Kraig Popelka
3/10/2016*/

p.navbar {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #60401f;
}

.center{
	color: white;
	text-align: center;
}

.footer{
	color: #4BC7CF;
	font-weight: bold;
}

body {
		background-color: #004d00;
}

p {
	color: white;
}

a{
	text-decoration: none;
}

a:link{
	color: #ffff80;
}

a:visited{
	color: #00e6e6;
}

a:hover{
	color: #ccffcc;
}

.color{
	color: #ffbf80;
}

h2,h3{
	color: white;
}

footer{
	text-align: center;
}