* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C2C6C7;
    color: #14100B;
    font-family: courier, sans-serif;
}

img {
    border: 1px outset #14100B;
}

#noRecipeText, #noListText {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 30%;
    margin: auto;
    color: #B0B4B9;
}

.recipeListItem, .recipeHeadItem {
    border: 1px solid #14100B;
    border-radius: 15px;
    overflow: auto;
    background-color: #ECF0F7;
    color: #1F1F30;
    z-index:1000;
    cursor: pointer;
}

#recipeListContainer {
    position: relative;
    margin: 1%;
    min-height: 600px;
    border: 1px solid #14100B;
    border-radius: 15px;
    background-color: #ECF0F7;
    color: #1F1F30;
    z-index:0;
}

.recipeListItem img {  
    width: 90%;
    margin: 5%;
}

.recipeHeadItem img {  
    width: 90%;
    margin: 5%;
}

.recipeItem img {
    width: 100%;
}

#recipeContainer {
    position: relative;
    margin: 1%;
    min-height: 600px;
    border: 1px solid #14100B;
    border-radius: 15px;
    background-color: #ECF0F7;
    color: #1F1F30;
    z-index:0;
}

.recipeItem {
    background-color: #ECF0F7;
    color: #1F1F30;
    margin: 5%;
}

.row {
    border: 1px solid #14100B;
}

h1, h2 {
    text-align: center;
}

.header h1 ,.heading {
    text-align: left;
    background-color: #2B2830;
    color: #ECF0F7;
    padding: 30px;
    margin:0;
}

.active {
    background-color: #ECF0F7;
    color: #1F1F30;
}

.hover {
    background-color: #443D64;
    color: #ECECF0;
}