/* CSS Document */
body {
  background-image: url(images/sample1.jpg);
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden; }

h1 {
  color: white; }

/* CSS Document */
/* CSS Document */
@-webkit-keyframes enter {
  0% {
    left: -50%; }
  25% {
    left: 60%;
    transform: rotate(-720deg) translate(25px, 10px); }
  35% {
    left: 50%;
    transform: translate(25px, 10px); }
  65% {
    left: 50%;
    transform: scale(1.25, 1.25); }
  75% {
    left: 50%; }
  100% {
    left: -50%; } }
@-moz-keyframes enter {
  0% {
    left: -50%; }
  25% {
    left: 60%;
    transform: rotate(-720deg) translate(25px, 10px); }
  35% {
    left: 50%;
    transform: translate(25px, 10px); }
  65% {
    left: 50%;
    transform: scale(1.25, 1.25); }
  75% {
    left: 50%; }
  100% {
    left: -50%; } }
@keyframes enter {
  0% {
    left: -50%; }
  25% {
    left: 60%;
    transform: rotate(-720deg) translate(25px, 10px); }
  35% {
    left: 50%;
    transform: translate(25px, 10px); }
  65% {
    left: 50%;
    transform: scale(1.25, 1.25); }
  75% {
    left: 50%; }
  100% {
    left: -50%; } }
.advert {
  position: absolute;
  left: -100%;
  margin: 5em -250px;
  width: 425px;
  height: 375px;
  font-size: 0.9em;
  background-color: #3a2613;
  color: #c7c7c7;
  border: 3px solid #db500a;
  text-align: center;
  -webkit-animation: enter 25s 1;
  animation: enter 25s 1; }

.advert p {
  display: inline; }

.advert h2 {
  color: #db500a;
  -webkit-transition-property: color background-color transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: color background-color transform;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: linear;
  transition-property: color background-color transform;
  transition-duration: 1s;
  transition-timing-function: linear; }

.advert:hover h2 {
  color: #ff5050;
  background-color: #c7c7c7;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg); }

/*# sourceMappingURL=sassAdvertEffect.css.map */
