/*Final Project - New Choices Pet Salon
	Author: Kraig Popelka
	Created: 4/24/2016
	Revised: 5/4/2016
	
*/

	* {
		margin: 0;
		padding: 0;
	}
				
	body {
		margin: 0;
		background-image: url(../images/background.jpg);	
		font-family: Verdana, Arial, sans-serif;
	}
	
	header {
		max-width: 1200px;
		background-image: url(../images/background.jpg);
	}

	h1 {
		
		margin-top: 0;
		padding-top: 75px;
		padding-right: 25px;
		font-size: 1.1em;
		text-align: right;
		color: #e1ddb7;		
	}
/*Top-left logo*/
	img.logo {
		float: left;
		margin-top: 0;
		margin-bottom: 20px;
	}

/*Main content area*/		
	div.main {
		width: 85%;
		min-width: 500px;
		max-width: 1000px;
		margin-left: 15%;
		padding: 10px 20px 10px 20px;
		color: white;
		background-color: #2b525e;
	}
	
	div.main p {
		margin: 0 15px;
		padding: 20px;
		background-color: #4e6365;
	}
	
	

/*Navigation bar area*/
	nav ul {
		list-style-type: none;
		width: 15%;
		min-width: 150px;
		margin: 0;
		padding: 0;
		font-size: 1.2em;
		background-color: #333333;
		float: left;
		height: 100%;
	}

/*Navigation bar links style*/
	nav li a {
		display: block;
		color: #e1ddb7;
		padding: 8px 0 8px 16px;
		text-decoration: none;
	}
	
/*Highlight current page menu item*/
	nav li a.current {
		background-color: #2b525e;
		color: #e6e6e6;
		border-left: solid 6px white;
	}

/*Menu hover highlight*/
	li:hover a {
		background-color: #66ffff;
		color: #001a1a;
	}
	
	.clear {
		clear: both;
	}
	
	
			
	footer {
		clear: both;
		text-align: center;
		display: block;
		color: white;
		background-image: url(../images/background.jpg);
	}